.circlePageContainer{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	height: 100%;
	padding: 20px 0px;
}

/* CIRCLE COMPONENT */
.circleContainer{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	margin: 30px 0px 0px 0px;
}

.noItemText{
	display: flex;
	flex-direction: column;
	color: white;
	font-size: 25px;
	font-weight: bold;
	margin: 0px;
}

@media (max-width: 400px){
	.circleContainer{
		margin: 20px 0px 0px 0px;
	}
}

.circleOptions{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	margin: 10px 0px;
}

/* RANGE */
.circleRangeRow{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
}
.circleRangeRow .itrr{
	display: flex;
	flex-direction: column;
	padding: 6px;
	cursor: pointer;
	background: rgb(225,225,225);
}
.circleRangeRow .itrr:hover{
	background: rgb(197,197,197);
	transition: 0.2s;
}
.circleRangeRow .itrr span{
	color: rgb(50,50,50);
	font-size: 20px;
	font-weight: 500;
	text-align: center;
}
.circleRangeRow .itrrActive{
	display: flex;
	flex-direction: column;
	padding: 6px;
	cursor: pointer;
	background: rgb(30, 215, 96);
}
.circleRangeRow .itrrActive span{
	color: white;
	font-size: 20px;
	font-weight: 500;
	text-align: center;
}

@media (max-width: 400px){
	.circleRangeRow .itrr, .circleRangeRow .itrrActive{
		padding: 8px 10px;
	}
	.circleRangeRow .itrr span, .circleRangeRow .itrrActive span{
		font-size: 15px;
	}
}

/* SLIDER */
.circleRingSlider{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 10px 0px;
}
.circleRingSlider input{
	cursor: pointer;
}
.circleRingSlider span{
	color: rgb(41, 205, 99);
	font-size: 18px;
}

/* CIRCLE */
.displayCircleContainer{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: rgb(24, 24, 24);
	padding: 0px 25px;
}
.displayCircleHeader{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px 0px;
	max-width: 450px;
	padding: 20px 0px;
}
.displayCircleHeader h3{
	color: white;
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	word-wrap: break-word;
}
.displayCircleHeader h4{
	font-size: 20px;
	color: rgb(167, 167, 167);
}
.displayCircleFooter{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 90%;
	padding: 0px 0px 10px 0px;
}
.displayCircleFooter h4{
	font-size: 20px;
	color: rgb(167, 167, 167);
}

.displaySmallCircle {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 450px;
	width: 450px;
/*	background: rgb(24, 24, 24);*/
	position: relative;
}
.displayMediumCircle {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 650px;
	width: 650px;
/*	background: rgb(24, 24, 24);*/
	position: relative;
}
.displayLargeCircle {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 750px;
	width: 750px;
/*	background: rgb(24, 24, 24);*/
	position: relative;
}

.innerRing{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 280px;
	width: 280px;
	border-radius: 50%;
/*	border: 2px solid white;*/
	position: relative;
}
.ir1, .ir2, .ir3, .ir4, .ir5, .ir6{
	position: absolute;
}
.ir1{transform: translate(0px, -140px);}
.ir2{transform: translate(121px, -70px);}
.ir3{transform: translate(121px, 70px);}
.ir4{transform: translate(0px, 140px);}
.ir5{transform: translate(-121px, 70px);}
.ir6{transform: translate(-121px, -70px);}

.innerRing img{
	border-radius: 50%;
}

.middleRing{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 500px;
	width: 500px;
	border-radius: 50%;
/*	border: 2px solid white;*/
	position: absolute;
}
.mr1, .mr2, .mr3, .mr4, .mr5, .mr6,	
.mr7, .mr8, .mr9, .mr10, .mr11, .mr12{
	position: absolute;
}
.mr1{transform: translate(0px, -250px);}
.mr2{transform: translate(125px, -210px);}
.mr3{transform: translate(216px, -125px);}
.mr4{transform: translate(250px, 0px);}
.mr5{transform: translate(216px, 125px);}
.mr6{transform: translate(125px, 210px);}
.mr7{transform: translate(0px, 250px);}
.mr8{transform: translate(-125px, 210px);}
.mr9{transform: translate(-216px, 125px);}
.mr10{transform: translate(-250px, 0px);}
.mr11{transform: translate(-216px, -125px);}
.mr12{transform: translate(-125px, -210px);}

.middleRing img{
	border-radius: 50%;
}

.outerRing{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 700px;
	width: 700px;
	border-radius: 50%;
/*	border: 2px solid white;*/
	position: absolute;
}
.or1, .or2, .or3, .or4, .or5, .or6,
.or7, .or8, .or9, .or10, .or11, .or12{
	position: absolute;
}
.or1{transform: translate(90px, -335px);}
.or2{transform: translate(250px, -250px);}
.or3{transform: translate(330px, -90px);}
.or4{transform: translate(330px, 90px);}
.or5{transform: translate(250px, 250px);}
.or6{transform: translate(90px, 335px);}
.or7{transform: translate(-90px, 335px);}
.or8{transform: translate(-250px, 250px);}
.or9{transform: translate(-330px, 90px);}
.or10{transform: translate(-330px, -90px);}
.or11{transform: translate(-250px, -250px);}
.or12{transform: translate(-90px, -335px);}

.outerRing img{
	border-radius: 50%;
}