.homeContainer{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	height: 100vh;
	margin: 20px 0px;
}

.homeContainer h1{
	font-size: 46px;
	font-weight: bold;
	color: white;
	margin: 10px 0px;
}

.homeNoAuth{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	padding: 0px 0px 80px 0px;
}