.homeContainer{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	height: 100%;
	padding: 20px 0px;
}

.homeContainer h1{
	font-size: 46px;
	font-weight: bold;
	color: white;
	margin: 10px 0px;
}