.squarePageContainer{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	height: 100%;
	padding: 20px 0px;
}

/* SQUARE COMPONENT */
.squareContainer{
	display: flex;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	margin: 30px 0px 0px 0px;
}

.noItemText{
	display: flex;
	flex-direction: column;
	color: white;
	font-size: 25px;
	font-weight: bold;
	margin: 0px;
}


@media (max-width: 400px){
	.squareContainer{
		margin: 20px 0px 0px 0px;
	}
}

.squareOptions{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	margin: 10px 0px;
}

/* TYPES/CATEGORIES */
.squareTypeRow{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
}
.squareTypeRow .itr{
	display: flex;
	flex-direction: column;
	padding: 8px 12px;
	cursor: pointer;
	background: rgb(225,225,225);
}
.squareTypeRow .itr:hover{
	background: rgb(197,197,197);
	transition: 0.2s;
}
.squareTypeRow .itr span{
	color: rgb(50,50,50);
	font-size: 25px;
	font-weight: bold;
	text-align: center;
}
.squareTypeRow .itrActive{
	display: flex;
	flex-direction: column;
	padding: 8px 12px;
	cursor: pointer;
	background: rgb(9, 171, 67);
}
.squareTypeRow .itrActive span{
	color: white;
	font-size: 25px;
	font-weight: bold;
	text-align: center;
}

/* RANGE */
.squareRangeRow{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
}
.squareRangeRow .itrr{
	display: flex;
	flex-direction: column;
	padding: 6px;
	cursor: pointer;
	background: rgb(225,225,225);
}
.squareRangeRow .itrr:hover{
	background: rgb(197,197,197);
	transition: 0.2s;
}
.squareRangeRow .itrr span{
	color: rgb(50,50,50);
	font-size: 20px;
	font-weight: 500;
	text-align: center;
}
.squareRangeRow .itrrActive{
	display: flex;
	flex-direction: column;
	padding: 6px;
	cursor: pointer;
	background: rgb(30, 215, 96);
}
.squareRangeRow .itrrActive span{
	color: white;
	font-size: 20px;
	font-weight: 500;
	text-align: center;
}

@media (max-width: 400px){
	.squareRangeRow .itrr, .squareRangeRow .itrrActive{
		padding: 8px 10px;
	}
	.squareRangeRow .itrr span, .squareRangeRow .itrrActive span{
		font-size: 15px;
	}
}

.squareInterface{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	margin: 40px 0px;
}

/* SQUARE CARD */
.squareCard{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: 400px;
	height: auto;
	background: rgb(24, 24, 24);
}

/* TOP */
.squareTop{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.squareLeft{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 250px;
	height: 250px;
}
.squareRight{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.squareRTop{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 150px;
	height: 150px;
}
.squareRBottom{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.squareRBLeft{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.squareRBLTop, .squareRBLBottom{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
}
.squareRBRight{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100px;
	height: 100px;
}

/* BOTTOM  */
.squareBottom{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	padding: 0px 10px 20px 10px;
}

.squareBottom .contentHeader{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 5px 0px;
	width: 100%;
	padding: 20px 0px;
}
.squareBottom .contentHeader h3{
	color: white;
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	word-break: break-word;
}
.squareBottom .contentHeader h4{
	font-size: 20px;
	color: rgb(167, 167, 167);
}

.squareBottom .content{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 10px 0px;
	width: 80%;
	margin: 10px 0px 20px 0px;
}
/*ARTIST*/
.squareBottom .content .artistItem{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 0px 12px; 
}
.squareBottom .content .artistItem h3{
	font-size: 23px;
	color: rgb(205, 205, 205);
}
.squareBottom .content .artistItem h4{
	font-size: 23px;
	word-break: break-word;
	color: rgb(205, 205, 205);
}
/*TRACK*/
.squareBottom .content .trackItem{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 0px 12px; 
}
.squareBottom .content .trackItem h3{
	font-size: 23px;
	color: rgb(239, 239, 239);
}
.squareBottom .content .trackItem .trackItemContent h4{
	font-size: 23px;
	word-break: break-word;
	color: rgb(239, 239, 239);
}
.squareBottom .content .trackItem .trackItemContent h5{
	font-size: 15px;
	word-break: break-word;
	color: rgb(167, 167, 167);
}

/* CARD FOOTER */
.squareBottom .footer{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px 0px;
	margin: 10px 0px;
}

.squareBottom .footer h4{
	font-size: 20px;
	color: rgb(167, 167, 167);
}