.topItemsContainer{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	margin: 40px 0px 0px 0px;
}


/* TOP ITEMS OPTIONS */
.topItemsOptions{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	margin: 10px 0px;
}


/* TYPES/CATEGORIES */
.itemsTypeRow{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
}
.itemsTypeRow .itr{
	display: flex;
	flex-direction: column;
	padding: 8px 12px;
	cursor: pointer;
	background: rgb(225,225,225);
}
.itemsTypeRow .itr:hover{
	background: rgb(197,197,197);
	transition: 0.2s;
}
.itemsTypeRow .itr span{
	color: rgb(50,50,50);
	font-size: 25px;
	font-weight: bold;
	text-align: center;
}
.itemsTypeRow .itrActive{
	display: flex;
	flex-direction: column;
	padding: 8px 12px;
	cursor: pointer;
	background: rgb(9, 171, 67);
}
.itemsTypeRow .itrActive span{
	color: white;
	font-size: 25px;
	font-weight: bold;
	text-align: center;
}


/* RANGE */
.itemsRangeRow{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
}
.itemsRangeRow .itrr{
	display: flex;
	flex-direction: column;
	padding: 6px;
	cursor: pointer;
	background: rgb(225,225,225);
}
.itemsRangeRow .itrr:hover{
	background: rgb(197,197,197);
	transition: 0.2s;
}
.itemsRangeRow .itrr span{
	color: rgb(50,50,50);
	font-size: 20px;
	font-weight: 500;
	text-align: center;
}
.itemsRangeRow .itrrActive{
	display: flex;
	flex-direction: column;
	padding: 6px;
	cursor: pointer;
	background: rgb(30, 215, 96);
}
.itemsRangeRow .itrrActive span{
	color: white;
	font-size: 20px;
	font-weight: 500;
	text-align: center;
}

@media (max-width: 400px){
	.itemsRangeRow .itrr, .itemsRangeRow .itrrActive{
		padding: 8px 10px;
	}
	.itemsRangeRow .itrr span, .itemsRangeRow .itrrActive span{
		font-size: 15px;
	}
}


/* Display Type */
.displayTypeRow{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 0px 20px;
	width: 100%;
	margin: 10px 0px 0px 0px;
}
.displayTypeRow .displayType{
	display: flex;
	cursor: pointer;
}
.displayTypeRow .displayType span{
	color: white;
	font-size: 20px;
}
.displayTypeRow .displayType span:hover{
	color: rgb(30, 215, 96);
}
.displayTypeRow .displayTypeActive{
	display: flex;
	cursor: pointer;
}
.displayTypeRow .displayTypeActive span{
	color: rgb(30, 215, 96);
	font-size: 20px;
}


/* TOP ITEMS LIST */
.topItemsContainer .topItemsCollage{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
	margin: 20px 0px;
}

/* Collage */
.topItemCard{
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;

}
.topItemCard:hover{
	filter: blur(0.7px);
}

/* List */
.topItemsContainer .topItemsList{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 20px 20px;
	width: 100%;
	margin: 20px 0px;
}
.artistCard{
	display: flex;
	flex-direction: row;
	border: 1px solid white;
	width: 350px;
}
.artistCard:hover{
	background: rgb(44,44,44);
	transition: 0.1s;
	border: 1px solid rgb(30, 215, 96);
}

.artistCard .artistImg{
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	border: 2px solid white;
} 
.artistCard .artistImg:hover{
	border: 2px solid rgb(30, 215, 96);
}

.artistCardContent{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	padding: 10px 5px;
	width: 100%;
	height: 100%;
}
.artistCardContent .artistRank{
	display: flex;
	flex-direction: column;
	color: white;
	font-size: 17px;
	font-weight: bold;
	padding: 0px 10px;
}
.artistCardContent .artistDetails{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}
.artistCardContent .artistDetails h4{
	font-size: 16px;
	font-weight: bold;
}
.artistCardContent .artistDetails h5{
	font-size: 13px;
	font-weight: 400;
	color: rgb(231,231,231);
	padding: 5px 0px 0px 0px;
}

@media (max-width: 400px){
	.topItemsContainer .topItemsList{
		justify-content: flex-start;
	}
	.artistCard{
		width: 100%;
	}
	.artistCardContent{
		padding: 5px 5px;
	}
	.artistCardContent .artistRank{
		font-size: 14px;
	}
	.artistCardContent .artistDetails h4{
		font-size: 14px;
	}
	.artistCardContent .artistDetails h5{
		font-size: 12px;
	}
}
@media (max-width: 300px){
	.artistCardContent .artistRank{
		font-size: 12px;
	}
	.artistCardContent .artistDetails h4{
		font-size: 12px;
	}
	.artistCardContent .artistDetails h5{
		font-size: 11px;
		padding: 0px;
	}
}